<ion-content class="background">

  <div class="content">

    <div class="cont-1">
      <h1 style="font-size: 40px; color: rgb(65,98,141);">Create Account</h1>
    </div>

    <div class="cont-2">
      <ion-item>
        <ion-label style="color: #85807D; font-family: 'Open Sans', sans-serif; font-weight: bold; font-size: small;"
          position="floating">Name</ion-label>
        <ion-input type="text" name="name"></ion-input>
      </ion-item>
    </div>

    <div class="cont-3">
      <ion-item>
        <ion-label style="color: #85807D; font-family: 'Open Sans', sans-serif; font-weight: bolder; font-size: small;"
          position="floating">Email</ion-label>
        <ion-input type="email" name="email"></ion-input>
      </ion-item>
    </div>

    <div class="cont-4">
      <ion-item>
        <ion-label style="color: #85807D; font-family: 'Open Sans', sans-serif; font-weight: bolder; font-size: small;"
          position="floating">Password</ion-label>
        <ion-input type="password" name="password"></ion-input>
      </ion-item>
    </div>

    <div class="box-2">
      <div class="signin">
        <ion-label style="font-size: 20px; font-family: 'Roboto', sans-serif; color: rgb(4,0,0);">Sign in</ion-label>
      </div>

      <div class="icon">
        <a routerLink="/welcome">
          <ion-fab-button class="icon-right" color="secondary">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-fab-button>
        </a>
      </div>
    </div>

    <div class="box-3">
      <div class="signup-right">
        <span style="font-family: 'Roboto', sans-serif; font-size: small; color: rgb(4,0,0);">
          <a routerLink="/login">Sign in</a>
        </span>
      </div>
    </div>

  </div>

</ion-content>